<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>kUnicodeToLatexDictionary</key>
        <dict>
            <key>&#x00AC;</key>
            <string>\lnot</string>
            <key>&#x00B1;</key>
            <string>\pm</string>
            <key>&#x00C5;</key>
            <string>\AA</string>
            <key>&#x00D7;</key>
            <string>\times</string>
            <key>&#x00F7;</key>
            <string>\div</string>
            <key>&#x0393;</key>
            <string>\Gamma</string>
            <key>&#x0394;</key>
            <string>\Delta</string>
            <key>&#x0398;</key>
            <string>\Theta</string>
            <key>&#x039B;</key>
            <string>\Lambda</string>
            <key>&#x039E;</key>
            <string>\Xi</string>
            <key>&#x03A0;</key>
            <string>\Pi</string>
            <key>&#x03A3;</key>
            <string>\Sigma</string>
            <key>&#x03A5;</key>
            <string>\Upsilon</string>
            <key>&#x03A6;</key>
            <string>\Phi</string>
            <key>&#x03A8;</key>
            <string>\Psi</string>
            <key>&#x03A9;</key>
            <string>\Omega</string>
            <key>&#x03B1;</key>
            <string>\alpha</string>
            <key>&#x03B2;</key>
            <string>\beta</string>
            <key>&#x03B3;</key>
            <string>\gamma</string>
            <key>&#x03B4;</key>
            <string>\delta</string>
            <key>&#x03B5;</key>
            <string>\varepsilon</string>
            <key>&#x03B6;</key>
            <string>\zeta</string>
            <key>&#x03B7;</key>
            <string>\eta</string>
            <key>&#x03B8;</key>
            <string>\theta</string>
            <key>&#x03B9;</key>
            <string>\iota</string>
            <key>&#x03BA;</key>
            <string>\kappa</string>
            <key>&#x03BB;</key>
            <string>\lambda</string>
            <key>&#x03BC;</key>
            <string>\mu</string>
            <key>&#x03BD;</key>
            <string>\nu</string>
            <key>&#x03BE;</key>
            <string>\xi</string>
            <key>&#x03C0;</key>
            <string>\pi</string>
            <key>&#x03C1;</key>
            <string>\rho</string>
            <key>&#x03C2;</key>
            <string>\varsigma</string>
            <key>&#x03C3;</key>
            <string>\sigma</string>
            <key>&#x03C4;</key>
            <string>\tau</string>
            <key>&#x03C5;</key>
            <string>\upsilon</string>
            <key>&#x03C6;</key>
            <string>\varphi</string>
            <key>&#x03C7;</key>
            <string>\chi</string>
            <key>&#x03C8;</key>
            <string>\psi</string>
            <key>&#x03C9;</key>
            <string>\omega</string>
            <key>&#x03D1;</key>
            <string>\vartheta</string>
            <key>&#x03D5;</key>
            <string>\phi</string>
            <key>&#x03D6;</key>
            <string>\varpi</string>
            <key>&#x03DD;</key>
            <string>\digamma</string>
            <key>&#x03F0;</key>
            <string>\varkappa</string>
            <key>&#x03F1;</key>
            <string>\varrho</string>
            <key>&#x03F5;</key>
            <string>\epsilon</string>
            <key>&#x03F6;</key>
            <string>\backepsilon</string>
            <key>&#x2020;</key>
            <string>\dagger</string>
            <key>&#x2021;</key>
            <string>\ddagger</string>
            <key>&#x2022;</key>
            <string>\bullet</string>
            <key>&#x2026;</key>
            <string>\dots</string>
            <key>&#x2032;</key>
            <string>\prime</string>
            <key>&#x2035;</key>
            <string>\backprime</string>
            <key>&#x2190;</key>
            <string>\leftarrow</string>
            <key>&#x2191;</key>
            <string>\uparrow</string>
            <key>&#x2192;</key>
            <string>\rightarrow</string>
            <key>&#x2193;</key>
            <string>\downarrow</string>
            <key>&#x2194;</key>
            <string>\leftrightarrow</string>
            <key>&#x2195;</key>
            <string>\updownarrow</string>
            <key>&#x2196;</key>
            <string>\nwarrow</string>
            <key>&#x2197;</key>
            <string>\nearrow</string>
            <key>&#x2198;</key>
            <string>\searrow</string>
            <key>&#x2199;</key>
            <string>\swarrow</string>
            <key>&#x219A;</key>
            <string>\nleftarrow</string>
            <key>&#x219B;</key>
            <string>\nrightarrow</string>
            <key>&#x219D;</key>
            <string>\rightsquigarrow</string>
            <key>&#x219E;</key>
            <string>\twoheadleftarrow</string>
            <key>&#x21A0;</key>
            <string>\twoheadrightarrow</string>
            <key>&#x21A2;</key>
            <string>\leftarrowtail</string>
            <key>&#x21A3;</key>
            <string>\rightarrowtail</string>
            <key>&#x21A6;</key>
            <string>\mapsto</string>
            <key>&#x21A9;</key>
            <string>\hookleftarrow</string>
            <key>&#x21AA;</key>
            <string>\hookrightarrow</string>
            <key>&#x21AB;</key>
            <string>\looparrowleft</string>
            <key>&#x21AC;</key>
            <string>\looparrowright</string>
            <key>&#x21AD;</key>
            <string>\leftrightsquigarrow</string>
            <key>&#x21AE;</key>
            <string>\nleftrightarrow</string>
            <key>&#x21B0;</key>
            <string>\Lsh</string>
            <key>&#x21B1;</key>
            <string>\Rsh</string>
            <key>&#x21B6;</key>
            <string>\curvearrowleft</string>
            <key>&#x21B7;</key>
            <string>\curvearrowright</string>
            <key>&#x21BA;</key>
            <string>\circlearrowleft</string>
            <key>&#x21BB;</key>
            <string>\circlearrowright</string>
            <key>&#x21BC;</key>
            <string>\leftharpoonup</string>
            <key>&#x21BD;</key>
            <string>\leftharpoondown</string>
            <key>&#x21BE;</key>
            <string>\upharpoonright</string>
            <key>&#x21BF;</key>
            <string>\upharpoonleft</string>
            <key>&#x21C0;</key>
            <string>\rightharpoonup</string>
            <key>&#x21C1;</key>
            <string>\rightharpoondown</string>
            <key>&#x21C2;</key>
            <string>\downharpoonright</string>
            <key>&#x21C3;</key>
            <string>\downharpoonleft</string>
            <key>&#x21C4;</key>
            <string>\rightleftarrows</string>
            <key>&#x21C6;</key>
            <string>\leftrightarrows</string>
            <key>&#x21C7;</key>
            <string>\leftleftarrows</string>
            <key>&#x21C8;</key>
            <string>\upuparrows</string>
            <key>&#x21C9;</key>
            <string>\rightrightarrows</string>
            <key>&#x21CA;</key>
            <string>\downdownarrows</string>
            <key>&#x21CB;</key>
            <string>\leftrightharpoons</string>
            <key>&#x21CC;</key>
            <string>\rightleftharpoons</string>
            <key>&#x21CD;</key>
            <string>\nLeftarrow</string>
            <key>&#x21CE;</key>
            <string>\nLeftrightarrow</string>
            <key>&#x21CF;</key>
            <string>\nRightarrow</string>
            <key>&#x21D0;</key>
            <string>\Leftarrow</string>
            <key>&#x21D1;</key>
            <string>\Uparrow</string>
            <key>&#x21D2;</key>
            <string>\Rightarrow</string>
            <key>&#x21D3;</key>
            <string>\Downarrow</string>
            <key>&#x21D4;</key>
            <string>\Leftrightarrow</string>
            <key>&#x21D5;</key>
            <string>\Updownarrow</string>
            <key>&#x21DA;</key>
            <string>\Lleftarrow</string>
            <key>&#x21DB;</key>
            <string>\Rrightarrow</string>
            <key>&#x21DD;</key>
            <string>\leadsto</string>
            <key>&#x2200;</key>
            <string>\forall</string>
            <key>&#x2201;</key>
            <string>\complement</string>
            <key>&#x2202;</key>
            <string>\partial</string>
            <key>&#x2203;</key>
            <string>\exists</string>
            <key>&#x2204;</key>
            <string>\nexists</string>
            <key>&#x2207;</key>
            <string>\nabla</string>
            <key>&#x2208;</key>
            <string>\in</string>
            <key>&#x2209;</key>
            <string>\notin</string>
            <key>&#x220B;</key>
            <string>\ni</string>
            <key>&#x220F;</key>
            <string>\prod</string>
            <key>&#x2210;</key>
            <string>\coprod</string>
            <key>&#x2211;</key>
            <string>\sum</string>
            <key>&#x2213;</key>
            <string>\mp</string>
            <key>&#x2214;</key>
            <string>\dotplus</string>
            <key>&#x2218;</key>
            <string>\circ</string>
            <key>&#x221A;</key>
            <string>\surd</string>
            <key>&#x221D;</key>
            <string>\propto</string>
            <key>&#x2220;</key>
            <string>\angle</string>
            <key>&#x2221;</key>
            <string>\measuredangle</string>
            <key>&#x2222;</key>
            <string>\sphericalangle</string>
            <key>&#x2224;</key>
            <string>\nmid</string>
            <key>&#x2225;</key>
            <string>\parallel</string>
            <key>&#x2226;</key>
            <string>\nparallel</string>
            <key>&#x2227;</key>
            <string>\wedge</string>
            <key>&#x2228;</key>
            <string>\vee</string>
            <key>&#x2229;</key>
            <string>\cap</string>
            <key>&#x222A;</key>
            <string>\cup</string>
            <key>&#x222B;</key>
            <string>\int</string>
            <key>&#x222C;</key>
            <string>\iint</string>
            <key>&#x222D;</key>
            <string>\iiint</string>
            <key>&#x222E;</key>
            <string>\oint</string>
            <key>&#x2234;</key>
            <string>\therefore</string>
            <key>&#x2235;</key>
            <string>\because</string>
            <key>&#x223C;</key>
            <string>\sim</string>
            <key>&#x223D;</key>
            <string>\backsim</string>
            <key>&#x2240;</key>
            <string>\wr</string>
            <key>&#x2241;</key>
            <string>\nsim</string>
            <key>&#x2242;</key>
            <string>\eqsim</string>
            <key>&#x2243;</key>
            <string>\simeq</string>
            <key>&#x2245;</key>
            <string>\cong</string>
            <key>&#x2247;</key>
            <string>\ncong</string>
            <key>&#x2248;</key>
            <string>\approx</string>
            <key>&#x224A;</key>
            <string>\approxeq</string>
            <key>&#x224E;</key>
            <string>\Bumpeq</string>
            <key>&#x224F;</key>
            <string>\bumpeq</string>
            <key>&#x2250;</key>
            <string>\doteq</string>
            <key>&#x2251;</key>
            <string>\doteqdot</string>
            <key>&#x2252;</key>
            <string>\fallingdotseq</string>
            <key>&#x2253;</key>
            <string>\risingdotseq</string>
            <key>&#x2256;</key>
            <string>\eqcirc</string>
            <key>&#x2257;</key>
            <string>\circeq</string>
            <key>&#x225C;</key>
            <string>\triangleq</string>
            <key>&#x2260;</key>
            <string>\neq</string>
            <key>&#x2261;</key>
            <string>\equiv</string>
            <key>&#x2264;</key>
            <string>\leq</string>
            <key>&#x2265;</key>
            <string>\geq</string>
            <key>&#x2266;</key>
            <string>\leqq</string>
            <key>&#x2267;</key>
            <string>\geqq</string>
            <key>&#x2268;</key>
            <string>\lneqq</string>
            <key>&#x2269;</key>
            <string>\gneqq</string>
            <key>&#x226A;</key>
            <string>\ll</string>
            <key>&#x226B;</key>
            <string>\gg</string>
            <key>&#x226C;</key>
            <string>\between</string>
            <key>&#x226E;</key>
            <string>\nless</string>
            <key>&#x226F;</key>
            <string>\ngtr</string>
            <key>&#x2270;</key>
            <string>\nleq</string>
            <key>&#x2271;</key>
            <string>\ngeq</string>
            <key>&#x2272;</key>
            <string>\lesssim</string>
            <key>&#x2273;</key>
            <string>\gtrsim</string>
            <key>&#x2276;</key>
            <string>\lessgtr</string>
            <key>&#x2277;</key>
            <string>\gtrless</string>
            <key>&#x227A;</key>
            <string>\prec</string>
            <key>&#x227B;</key>
            <string>\succ</string>
            <key>&#x227C;</key>
            <string>\preccurlyeq</string>
            <key>&#x227D;</key>
            <string>\succcurlyeq</string>
            <key>&#x227E;</key>
            <string>\precsim</string>
            <key>&#x227F;</key>
            <string>\succsim</string>
            <key>&#x2280;</key>
            <string>\nprec</string>
            <key>&#x2281;</key>
            <string>\nsucc</string>
            <key>&#x2282;</key>
            <string>\subset</string>
            <key>&#x2283;</key>
            <string>\supset</string>
            <key>&#x2286;</key>
            <string>\subseteq</string>
            <key>&#x2287;</key>
            <string>\supseteq</string>
            <key>&#x2288;</key>
            <string>\nsubseteq</string>
            <key>&#x2289;</key>
            <string>\nsupseteq</string>
            <key>&#x228A;</key>
            <string>\subsetneq</string>
            <key>&#x228B;</key>
            <string>\supsetneq</string>
            <key>&#x228E;</key>
            <string>\uplus</string>
            <key>&#x228F;</key>
            <string>\sqsubset</string>
            <key>&#x2290;</key>
            <string>\sqsupset</string>
            <key>&#x2291;</key>
            <string>\sqsubseteq</string>
            <key>&#x2292;</key>
            <string>\sqsupseteq</string>
            <key>&#x2293;</key>
            <string>\sqcap</string>
            <key>&#x2294;</key>
            <string>\sqcup</string>
            <key>&#x2295;</key>
            <string>\oplus</string>
            <key>&#x2296;</key>
            <string>\ominus</string>
            <key>&#x2297;</key>
            <string>\otimes</string>
            <key>&#x2298;</key>
            <string>\oslash</string>
            <key>&#x2299;</key>
            <string>\odot</string>
            <key>&#x229A;</key>
            <string>\circledcirc</string>
            <key>&#x229B;</key>
            <string>\circledast</string>
            <key>&#x229D;</key>
            <string>\circleddash</string>
            <key>&#x229E;</key>
            <string>\boxplus</string>
            <key>&#x229F;</key>
            <string>\boxminus</string>
            <key>&#x22A0;</key>
            <string>\boxtimes</string>
            <key>&#x22A1;</key>
            <string>\boxdot</string>
            <key>&#x22A2;</key>
            <string>\vdash</string>
            <key>&#x22A3;</key>
            <string>\dashv</string>
            <key>&#x22A4;</key>
            <string>\top</string>
            <key>&#x22A5;</key>
            <string>\bot</string>
            <key>&#x22A7;</key>
            <string>\models</string>
            <key>&#x22A8;</key>
            <string>\vDash</string>
            <key>&#x22A9;</key>
            <string>\Vdash</string>
            <key>&#x22AA;</key>
            <string>\Vvdash</string>
            <key>&#x22AC;</key>
            <string>\nvdash</string>
            <key>&#x22AD;</key>
            <string>\nvDash</string>
            <key>&#x22AE;</key>
            <string>\nVdash</string>
            <key>&#x22AF;</key>
            <string>\nVDash</string>
            <key>&#x22B2;</key>
            <string>\lhd</string>
            <key>&#x22B3;</key>
            <string>\rhd</string>
            <key>&#x22B4;</key>
            <string>\unlhd</string>
            <key>&#x22B5;</key>
            <string>\unrhd</string>
            <key>&#x22B8;</key>
            <string>\multimap</string>
            <key>&#x22BA;</key>
            <string>\intercal</string>
            <key>&#x22BB;</key>
            <string>\veebar</string>
            <key>&#x22C0;</key>
            <string>\bigwedge</string>
            <key>&#x22C1;</key>
            <string>\bigvee</string>
            <key>&#x22C2;</key>
            <string>\bigcap</string>
            <key>&#x22C3;</key>
            <string>\bigcup</string>
            <key>&#x22C4;</key>
            <string>\diamond</string>
            <key>&#x22C5;</key>
            <string>\cdot</string>
            <key>&#x22C6;</key>
            <string>\star</string>
            <key>&#x22C7;</key>
            <string>\divideontimes</string>
            <key>&#x22C8;</key>
            <string>\bowtie</string>
            <key>&#x22C9;</key>
            <string>\ltimes</string>
            <key>&#x22CA;</key>
            <string>\rtimes</string>
            <key>&#x22CB;</key>
            <string>\leftthreetimes</string>
            <key>&#x22CC;</key>
            <string>\rightthreetimes</string>
            <key>&#x22CD;</key>
            <string>\backsimeq</string>
            <key>&#x22CE;</key>
            <string>\curlyvee</string>
            <key>&#x22CF;</key>
            <string>\curlywedge</string>
            <key>&#x22D0;</key>
            <string>\Subset</string>
            <key>&#x22D1;</key>
            <string>\Supset</string>
            <key>&#x22D2;</key>
            <string>\Cap</string>
            <key>&#x22D3;</key>
            <string>\Cup</string>
            <key>&#x22D4;</key>
            <string>\pitchfork</string>
            <key>&#x22D6;</key>
            <string>\lessdot</string>
            <key>&#x22D7;</key>
            <string>\gtrdot</string>
            <key>&#x22D8;</key>
            <string>\lll</string>
            <key>&#x22D9;</key>
            <string>\ggg</string>
            <key>&#x22DA;</key>
            <string>\lesseqgtr</string>
            <key>&#x22DB;</key>
            <string>\gtreqless</string>
            <key>&#x22DE;</key>
            <string>\curlyeqprec</string>
            <key>&#x22DF;</key>
            <string>\curlyeqsucc</string>
            <key>&#x22E6;</key>
            <string>\lnsim</string>
            <key>&#x22E7;</key>
            <string>\gnsim</string>
            <key>&#x22E8;</key>
            <string>\precnsim</string>
            <key>&#x22E9;</key>
            <string>\succnsim</string>
            <key>&#x22EA;</key>
            <string>\ntriangleleft</string>
            <key>&#x22EB;</key>
            <string>\ntriangleright</string>
            <key>&#x22EC;</key>
            <string>\ntrianglelefteq</string>
            <key>&#x22ED;</key>
            <string>\ntrianglerighteq</string>
            <key>&#x22EE;</key>
            <string>\vdots</string>
            <key>&#x22EF;</key>
            <string>\cdots</string>
            <key>&#x22F1;</key>
            <string>\ddots</string>
            <key>&#x2305;</key>
            <string>\barwedge</string>
            <key>&#x2306;</key>
            <string>\doublebarwedge</string>
            <key>&#x2308;</key>
            <string>\lceil</string>
            <key>&#x2309;</key>
            <string>\rceil</string>
            <key>&#x230A;</key>
            <string>\lfloor</string>
            <key>&#x230B;</key>
            <string>\rfloor</string>
            <key>&#x231C;</key>
            <string>\ulcorner</string>
            <key>&#x231D;</key>
            <string>\urcorner</string>
            <key>&#x231E;</key>
            <string>\llcorner</string>
            <key>&#x231F;</key>
            <string>\lrcorner</string>
            <key>&#x2322;</key>
            <string>\frown</string>
            <key>&#x2323;</key>
            <string>\smile</string>
            <key>&#x2329;</key>
            <string>\langle</string>
            <key>&#x232A;</key>
            <string>\rangle</string>
            <key>&#x25A1;</key>
            <string>\square</string>
            <key>&#x25B3;</key>
            <string>\triangle</string>
            <key>&#x25B4;</key>
            <string>\blacktriangle</string>
            <key>&#x25B5;</key>
            <string>\vartriangle</string>
            <key>&#x25B6;</key>
            <string>\blacktriangleright</string>
            <key>&#x25B9;</key>
            <string>\triangleright</string>
            <key>&#x25BD;</key>
            <string>\bigtriangledown</string>
            <key>&#x25BE;</key>
            <string>\blacktriangledown</string>
            <key>&#x25BF;</key>
            <string>\triangledown</string>
            <key>&#x25C0;</key>
            <string>\blacktriangleleft</string>
            <key>&#x25C3;</key>
            <string>\triangleleft</string>
            <key>&#x25CA;</key>
            <string>\lozenge</string>
            <key>&#x25EF;</key>
            <string>\bigcirc</string>
            <key>&#x25FC;</key>
            <string>\blacksquare</string>
            <key>&#x2605;</key>
            <string>\bigstar</string>
            <key>&#x2660;</key>
            <string>\spadesuit</string>
            <key>&#x2663;</key>
            <string>\clubsuit</string>
            <key>&#x2665;</key>
            <string>\heartsuit</string>
            <key>&#x2666;</key>
            <string>\diamondsuit</string>
            <key>&#x266D;</key>
            <string>\flat</string>
            <key>&#x266E;</key>
            <string>\natural</string>
            <key>&#x266F;</key>
            <string>\sharp</string>
            <key>&#x2713;</key>
            <string>\checkmark</string>
            <key>&#x290E;</key>
            <string>\dashleftarrow</string>
            <key>&#x290F;</key>
            <string>\dashrightarrow</string>
            <key>&#x29EB;</key>
            <string>\blacklozenge</string>
            <key>&#x2A00;</key>
            <string>\bigodot</string>
            <key>&#x2A01;</key>
            <string>\bigoplus</string>
            <key>&#x2A02;</key>
            <string>\bigotimes</string>
            <key>&#x2A04;</key>
            <string>\biguplus</string>
            <key>&#x2A06;</key>
            <string>\bigsqcup</string>
            <key>&#x2A0C;</key>
            <string>\iiiint</string>
            <key>&#x2A3F;</key>
            <string>\amalg</string>
            <key>&#x2A7D;</key>
            <string>\leqslant</string>
            <key>&#x2A7E;</key>
            <string>\geqslant</string>
            <key>&#x2A85;</key>
            <string>\lessapprox</string>
            <key>&#x2A86;</key>
            <string>\gtrapprox</string>
            <key>&#x2A89;</key>
            <string>\lnapprox</string>
            <key>&#x2A8A;</key>
            <string>\gnapprox</string>
            <key>&#x2A8B;</key>
            <string>\lesseqqgtr</string>
            <key>&#x2A8C;</key>
            <string>\gtreqqless</string>
            <key>&#x2A95;</key>
            <string>\eqslantless</string>
            <key>&#x2A96;</key>
            <string>\eqslantgtr</string>
            <key>&#x2AAF;</key>
            <string>\preceq</string>
            <key>&#x2AB0;</key>
            <string>\succeq</string>
            <key>&#x2AB5;</key>
            <string>\precneqq</string>
            <key>&#x2AB6;</key>
            <string>\succneqq</string>
            <key>&#x2AB7;</key>
            <string>\precapprox</string>
            <key>&#x2AB8;</key>
            <string>\succapprox</string>
            <key>&#x2AB9;</key>
            <string>\precnapprox</string>
            <key>&#x2ABA;</key>
            <string>\succnapprox</string>
            <key>&#x2AC5;</key>
            <string>\subseteqq</string>
            <key>&#x2AC6;</key>
            <string>\supseteqq</string>
            <key>&#x2ACB;</key>
            <string>\subsetneqq</string>
            <key>&#x2ACC;</key>
            <string>\supsetneqq</string>
        </dict>
    </dict>
</plist>
