<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kMacroScriptCharDictionary</key>
	<dict>
		<key>a</key>
		<string>𝒶</string>
		<key>b</key>
		<string>𝒷</string>
		<key>c</key>
		<string>𝒸</string>
		<key>d</key>
		<string>𝒹</string>
		<key>e</key>
		<string>ℯ</string>
		<key>f</key>
		<string>𝒻</string>
		<key>g</key>
		<string>ℊ</string>
		<key>h</key>
		<string>𝒽</string>
		<key>i</key>
		<string>𝒾</string>
		<key>j</key>
		<string>𝒿</string>
		<key>k</key>
		<string>𝓀</string>
		<key>l</key>
		<string>𝓁</string>
		<key>m</key>
		<string>𝓂</string>
		<key>n</key>
		<string>𝓃</string>
		<key>o</key>
		<string>ℴ</string>
		<key>p</key>
		<string>𝓅</string>
		<key>q</key>
		<string>𝓆</string>
		<key>r</key>
		<string>𝓇</string>
		<key>s</key>
		<string>𝓈</string>
		<key>t</key>
		<string>𝓉</string>
		<key>u</key>
		<string>𝓊</string>
		<key>v</key>
		<string>𝓋</string>
		<key>w</key>
		<string>𝓌</string>
		<key>x</key>
		<string>𝓍</string>
		<key>y</key>
		<string>𝓎</string>
		<key>z</key>
		<string>𝓏</string>
		<key>A</key>
		<string>𝒜</string>
		<key>B</key>
		<string>ℬ</string>
		<key>C</key>
		<string>𝒞</string>
		<key>D</key>
		<string>𝒟</string>
		<key>E</key>
		<string>ℰ</string>
		<key>F</key>
		<string>ℱ</string>
		<key>G</key>
		<string>𝒢</string>
		<key>H</key>
		<string>ℋ</string>
		<key>I</key>
		<string>ℐ</string>
		<key>J</key>
		<string>𝒥</string>
		<key>K</key>
		<string>𝒦</string>
		<key>L</key>
		<string>ℒ</string>
		<key>M</key>
		<string>ℳ</string>
		<key>N</key>
		<string>𝒩</string>
		<key>O</key>
		<string>𝒪</string>
		<key>P</key>
		<string>𝒫</string>
		<key>Q</key>
		<string>𝒬</string>
		<key>R</key>
		<string>ℛ</string>
		<key>S</key>
		<string>𝒮</string>
		<key>T</key>
		<string>𝒯</string>
		<key>U</key>
		<string>𝒰</string>
		<key>V</key>
		<string>𝒱</string>
		<key>W</key>
		<string>𝒲</string>
		<key>X</key>
		<string>𝒳</string>
		<key>Y</key>
		<string>𝒴</string>
		<key>Z</key>
		<string>𝒵</string>
	</dict>
	<key>kMacroFrakturCharDictionary</key>
	<dict>
		<key>A</key>
		<string>𝔄</string>
		<key>B</key>
		<string>𝔅</string>
		<key>C</key>
		<string>ℭ</string>
		<key>D</key>
		<string>𝔇</string>
		<key>E</key>
		<string>𝔈</string>
		<key>F</key>
		<string>𝔉</string>
		<key>G</key>
		<string>𝔊</string>
		<key>H</key>
		<string>ℌ</string>
		<key>I</key>
		<string>ℑ</string>
		<key>J</key>
		<string>𝔍</string>
		<key>K</key>
		<string>𝔎</string>
		<key>L</key>
		<string>𝔏</string>
		<key>M</key>
		<string>𝔐</string>
		<key>N</key>
		<string>𝔑</string>
		<key>O</key>
		<string>𝔒</string>
		<key>P</key>
		<string>𝔓</string>
		<key>Q</key>
		<string>𝔔</string>
		<key>R</key>
		<string>ℜ</string>
		<key>S</key>
		<string>𝔖</string>
		<key>T</key>
		<string>𝔗</string>
		<key>U</key>
		<string>𝔘</string>
		<key>V</key>
		<string>𝔙</string>
		<key>W</key>
		<string>𝔚</string>
		<key>X</key>
		<string>𝔛</string>
		<key>Y</key>
		<string>𝔜</string>
		<key>Z</key>
		<string>ℨ</string>
		<key>a</key>
		<string>𝔞</string>
		<key>b</key>
		<string>𝔟</string>
		<key>c</key>
		<string>𝔠</string>
		<key>d</key>
		<string>𝔡</string>
		<key>e</key>
		<string>𝔢</string>
		<key>f</key>
		<string>𝔣</string>
		<key>g</key>
		<string>𝔤</string>
		<key>h</key>
		<string>𝔥</string>
		<key>i</key>
		<string>𝔦</string>
		<key>j</key>
		<string>𝔧</string>
		<key>k</key>
		<string>𝔨</string>
		<key>l</key>
		<string>𝔩</string>
		<key>m</key>
		<string>𝔪</string>
		<key>n</key>
		<string>𝔫</string>
		<key>o</key>
		<string>𝔬</string>
		<key>p</key>
		<string>𝔭</string>
		<key>q</key>
		<string>𝔮</string>
		<key>r</key>
		<string>𝔯</string>
		<key>s</key>
		<string>𝔰</string>
		<key>t</key>
		<string>𝔱</string>
		<key>u</key>
		<string>𝔲</string>
		<key>v</key>
		<string>𝔳</string>
		<key>w</key>
		<string>𝔴</string>
		<key>x</key>
		<string>𝔵</string>
		<key>y</key>
		<string>𝔶</string>
		<key>z</key>
		<string>𝔷</string>
	</dict>
	<key>kMacroDoubleStrCharDictionary</key>
	<dict>
		<key>A</key>
		<string>𝔸</string>
		<key>B</key>
		<string>𝔹</string>
		<key>C</key>
		<string>ℂ</string>
		<key>D</key>
		<string>𝔻</string>
		<key>E</key>
		<string>𝔼</string>
		<key>F</key>
		<string>𝔽</string>
		<key>G</key>
		<string>𝔾</string>
		<key>H</key>
		<string>ℍ</string>
		<key>I</key>
		<string>𝕀</string>
		<key>J</key>
		<string>𝕁</string>
		<key>K</key>
		<string>𝕂</string>
		<key>L</key>
		<string>𝕃</string>
		<key>M</key>
		<string>𝕄</string>
		<key>N</key>
		<string>ℕ</string>
		<key>O</key>
		<string>𝕆</string>
		<key>P</key>
		<string>ℙ</string>
		<key>Q</key>
		<string>ℚ</string>
		<key>R</key>
		<string>ℝ</string>
		<key>S</key>
		<string>𝕊</string>
		<key>T</key>
		<string>𝕋</string>
		<key>U</key>
		<string>𝕌</string>
		<key>V</key>
		<string>𝕍</string>
		<key>W</key>
		<string>𝕎</string>
		<key>X</key>
		<string>𝕏</string>
		<key>Y</key>
		<string>𝕐</string>
		<key>Z</key>
		<string>ℤ</string>
		<key>γ</key>
		<string>ℽ</string>
		<key>Γ</key>
		<string>ℾ</string>
		<key>π</key>
		<string>ℼ</string>
		<key>Π</key>
		<string>ℿ</string>
		<key>a</key>
		<string>𝕒</string>
		<key>b</key>
		<string>𝕓</string>
		<key>c</key>
		<string>𝕔</string>
		<key>d</key>
		<string>𝕕</string>
		<key>e</key>
		<string>𝕖</string>
		<key>f</key>
		<string>𝕗</string>
		<key>g</key>
		<string>𝕘</string>
		<key>h</key>
		<string>𝕙</string>
		<key>i</key>
		<string>𝕚</string>
		<key>j</key>
		<string>𝕛</string>
		<key>k</key>
		<string>𝕜</string>
		<key>l</key>
		<string>𝕝</string>
		<key>m</key>
		<string>𝕞</string>
		<key>n</key>
		<string>𝕟</string>
		<key>o</key>
		<string>𝕠</string>
		<key>p</key>
		<string>𝕡</string>
		<key>q</key>
		<string>𝕢</string>
		<key>r</key>
		<string>𝕣</string>
		<key>s</key>
		<string>𝕤</string>
		<key>t</key>
		<string>𝕥</string>
		<key>u</key>
		<string>𝕦</string>
		<key>v</key>
		<string>𝕧</string>
		<key>w</key>
		<string>𝕨</string>
		<key>x</key>
		<string>𝕩</string>
		<key>y</key>
		<string>𝕪</string>
		<key>z</key>
		<string>𝕫</string>
		<key>0</key>
		<string>𝟘</string>
		<key>1</key>
		<string>𝟙</string>
		<key>2</key>
		<string>𝟚</string>
		<key>3</key>
		<string>𝟛</string>
		<key>4</key>
		<string>𝟜</string>
		<key>5</key>
		<string>𝟝</string>
		<key>6</key>
		<string>𝟞</string>
		<key>7</key>
		<string>𝟟</string>
		<key>8</key>
		<string>𝟠</string>
		<key>9</key>
		<string>𝟡</string>
		<key>:</key>
		<string>⦂</string>
		<key>{</key>
		<string>⦃</string>
		<key>}</key>
		<string>⦄</string>
		<key>(</key>
		<string>⦅</string>
		<key>)</key>
		<string>⦆</string>
	</dict>
</dict>
</plist>
